.wrapper {
    max-width: 100%;

    .relation {
      & + .relation {
        margin-top: 1rem;
      }

      .type {
        display: flex;
        gap: 1rem; 
        flex-wrap:wrap; 

        margin-top: 1rem;

        .typeCard {
          display: flex;
          cursor: pointer; 

          &:hover {
            filter: brightness(0.9);
          }

          p {
            height: fit-content;
            padding: 0.5rem 1rem; 
            position: relative;
            
            border-radius: 1rem;
            
            z-index: 10; 
          }

          span {
            background-color: #fcbe40;
            user-select: none;

            padding-top: .5rem;
            padding-right: .2rem;

            border-radius: 0 1rem 1rem 0;

            text-align: end;
            align-content: center;
            
            margin-left: -1.5rem;

            width: 3rem;
            z-index: -10;
           }
        }
      }
  }
}

@media (max-width: 767px) {
  .wrapper {
    .relation {
      .type {
        .typeCard {
          p {
            padding: 0.25rem .5rem;
            font-size: .8rem;
            border-radius: .75rem;
          }

          span {
            padding-top: .1rem;
            margin-left: -1.75rem;
            font-size: .8rem;
          }
        }
      }
    }
  }
}
