.toggleOverlay {
  position: absolute;
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;

  border-radius: 2rem;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.4);

  z-index: 99;

  opacity: 0;

  transition: opacity .2s;

  &:hover {
    opacity: 1;
  }
}


.chainNode{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  position: relative;
  
  img {
    width: 100px;
    height: 100px;
  }

  p {
    font-weight: 500;
    padding: 1rem 0; 
  }

  .types {
    display: flex;
    p {
      height: fit-content;
      padding: 0.5rem 1rem; 
      background-color: var(--light-green);
      border-radius: 1rem;
      color: white;

      &:last-child {
        margin-left: 1rem;
        background-color: var(--dark-purple);
      }
    }
  }

  .evolutionInfo {
    position: absolute;
    left: 0; 
    top: 50%; 

    transform: translateX(-25%) translateY(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: .75rem;

    .evolutionIcon {
      transform: translateX(-50%); 
      width: 2.5rem;
      height: 3rem;
    }
  }
}

@media (max-width: 767px) {
  .chainNode {
    img {
      width: 50px; 
      height: 50px;
    }
    
    span {
      font-size: .75rem;
    }

    p {
      font-size: .75rem;
    }

    .types {
      p {
        padding: 0.25rem .5rem;
        border-radius: .75rem;

        &:last-child {
          margin-left: .25rem; 
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .chainNode {
    .types {
      display: none;
      visibility: hidden;
    }
  }
}
