body {
  overflow-y: scroll;
}

.container {
  height: fit-content;
  max-width: 80%;
  width: 80%;
  padding: 7rem 0rem 5rem; 

  margin: 5rem auto 0;
  
  position:  relative;

  transition: opacity ease-in .5s;
  overflow: hidden;

  &.transition {
    opacity: 0;
  }

  .pokemonContainer {

    height: fit-content;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    position: relative;
    column-gap: 2rem;
  }
}

.link {
  text-decoration: none;

  width: fit-content;
  max-width: 100%;

  margin-bottom: 4rem;

  transition: transform .5s ease; 
  opacity: 0;
  animation: fade-in .5s ease-in forwards;

  &.right {
    justify-self: flex-end;
  }

  &:hover {
    transform: translateY(-7.5%); 
  }
}

.bg1 {
  position: fixed; 
  left: -8%; 
  top: 27.5%;  
  z-index: -99;
  opacity: 0;

  transition: all 200ms ease;

  animation: fade-in .5s ease-in forwards;
  
  &.transition {
    animation-fill-mode: backwards;
  }
}

.scrollButton {
  width: 2.5rem;
  height: 2.5rem;
  position: fixed; 

  bottom: .5rem; 
  right: 5%;
  transform: translateX(50%);

  background-color: var(--light-black);
  border-radius: 50%;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: .2rem;

  opacity: 0;
  cursor: none;

  visibility: hidden;

  transition: all .2s ease-in;

  .btn {
    width: 1.5rem;
    height: 1.5rem;
  }

  &.showing {
    opacity: 0.7;
    cursor: pointer;

    visibility: visible;

    bottom: 2rem; 

    &:hover {
      opacity: 1;
    }
  }
}

.filterBtnContainer {
  height: 3rem;
  width: 3rem;

  margin-bottom: 2rem;

  border-radius: 50%;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all ease .2s;

  &:hover {
    background-color: var(--light-black);

    color: white;
  }

  .filterBtn {
    width: 2rem;
    height: 2rem;
  }
} 

/*--- animations ---*/

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes roll-out {
  0% {
    width: 0%;
  } 
  100% {
    width: 25%;
  } 
}

/*--- resizing ---*/

@media (max-width: 1080px) {
  .container {
    padding: 5rem 0rem 5rem;

    .pokemonContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 644px) {
  .container {
    padding: 3rem 0 5rem; 
  }
}
